<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="epi2" Language="1033" Version="1.0.0.0" Manufacturer="eLite"
           UpgradeCode="28bed4c1-113c-4752-92f3-13247d02c923">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate />

    <Feature Id="ProductFeature" Title="epi2" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="EPI2Association" />
      <ComponentRef Id="SetPath" />
      <ComponentRef Id="IconComponent" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="epi2" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="e9c334e5-4e4a-4e4d-931d-8f9c0f964d31">
        <File Source="epi2.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="EPI2Association" Guid="f23e451a-6c1b-4ea3-8745-9af8cdded6c9">
        <ProgId Id="EPI2File" Description="Archivo EPI2" Icon="icon.ico">
          <Extension Id="epi2" ContentType="application/epi2">
            <Verb Id="open" Command="Open" Argument="&quot;%1&quot;" TargetFile="epi2.exe" />
          </Extension>
        </ProgId>
        <RegistryValue Root="HKCR" Key=".epi2" Value="EPI2File" Type="string" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="SetPath" Guid="fd1fcb9d-bc82-4cb9-b97e-e4f6c8d6b5e5">
        <Environment Id="SetPathVariable" Name="Path" Action="set" Part="last" Value="[INSTALLFOLDER]" Permanent="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="IconComponent" Guid="d9e1b30c-4f2d-4b19-9449-d1d7b80e7552">
        <File Id="icon.ico" Source="icon.ico" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
